 
h1{
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
table{
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

table,th,tr{
    border: 1px solid black;
}
input,textarea{
    width: 100%;
}
    
input[type="submit"]{
    background-color: #63df78;
}
